aiohttp
channels
faiss_cpu
fire
typer
lancedb
loguru
meilisearch
numpy
openai
openpyxl
beautifulsoup4
pandas
pydantic
python_docx
PyYAML
setuptools
tenacity
tiktoken
tqdm
anthropic
typing-inspect
libcst
qdrant-client
ta
semantic-kernel
wrapt
redis
curl-cffi
httplib2
websocket-client
aiofiles
gitpython
zhipuai
rich
nbclient
nbformat
ipython
ipykernel
scikit_learn
typing-extensions
socksio
gitignore-parser
websockets
networkx
google-generativeai
playwright
anytree
ipywidgets
Pillow
imap_tools
qianfan
dashscope
rank-bm25
jieba
volcengine-python-sdk
gymnasium
boto3
spark_ai_python
agentops
semantic_kernel

